# Querying Data

One of the most common tasks, when you work with the database, is to query data from tables by using the `select` statement. The `select` statement has many clauses that you can use to form a flexible query. While only one of them is mandatory when using the `select` clause, you will usually include at least two or three of the available clauses. Table below shows some of the different clauses and their purpose:

**Clause name** | **Purpose**
--- | ---
`Select` | Determines which columns to include in the query's result set
`From` | Identifies the tables from which to draw data and how the tables should be joined
`Where` | Filters out unwanted data
`Group by` | Used to group rows together by common column values
`Having` | Filter out unwanted groups
`Order by` | Sorts the rows of the final result set by one or more columns

***Note:*** *I have typed out SQL clauses in CAPITAL LETTERS in the examples but it is not always required to have them in CAPS. This is just to help you easily distinguish the SQL keywords from object references (tables, columns, etc.) in the statement/code. PostgreSQL and some other databases do accept SQL keywords in small letters.*

The following sections delve into the uses of the six major query clauses

## The `select` Clause

   Albeit the `select` clause is the first clause of a SQL query statement, it is one of the last clauses that the database server evaluates. The reason for this is that before you can determine what to include in the final result set, you need to know all of the possible columns that could be included in the final result set. The `select` clause is typically paired with `from` clause. Here's a query to get started:

*Initial setup to load sql module in order to run sql statements on this Notebook:*

***Note:*** *Each cell demonstrating SQL code in Jupyter Notebook needs to begin with `%%sql` in order to have the interpreter to treat the code as SQL statements/queries. The `%%sql` is not needed otherwise in SQL/database-client tools.*

*Initial setup to load sql module in order to run sql statements on this Notebook:*

In [1]:
%load_ext sql
%sql postgresql://postgres:password@localhost/dvdrental

In [2]:
%%sql 

SELECT * FROM actor;

 * postgresql://postgres:***@localhost/dvdrental
200 rows affected.

[(1, 'Penelope', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (2, 'Nick', 'Wahlberg', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (3, 'Ed', 'Chase', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (4, 'Jennifer', 'Davis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (5, 'Johnny', 'Lollobrigida', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (6, 'Bette', 'Nicholson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (7, 'Grace', 'Mostel', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (8, 'Matthew', 'Johansson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (9, 'Joe', 'Swank', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (10, 'Christian', 'Gable', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (11, 'Zero', 'Cage', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (12, 'Karl', 'Berry', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (13, 'Uma', 'Wood', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (14, 'Vivien', 'Bergen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (15, 'Cuba', 'Olivier', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (16, 'Fred', 'Costner', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (17, 'Helen', 'Voight', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (18, 'Dan', 'Torn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (19, 'Bob', 'Fawcett', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (20, 'Lucille', 'Tracy', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (21, 'Kirsten', 'Paltrow', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (22, 'Elvis', 'Marx', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (23, 'Sandra', 'Kilmer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (24, 'Cameron', 'Streep', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (25, 'Kevin', 'Bloom', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (26, 'Rip', 'Crawford', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (27, 'Julia', 'Mcqueen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (28, 'Woody', 'Hoffman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (29, 'Alec', 'Wayne', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (30, 'Sandra', 'Peck', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (31, 'Sissy', 'Sobieski', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (32, 'Tim', 'Hackman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (33, 'Milla', 'Peck', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (34, 'Audrey', 'Olivier', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (35, 'Judy', 'Dean', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (36, 'Burt', 'Dukakis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (37, 'Val', 'Bolger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (38, 'Tom', 'Mckellen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (39, 'Goldie', 'Brody', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (40, 'Johnny', 'Cage', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (41, 'Jodie', 'Degeneres', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (42, 'Tom', 'Miranda', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (43, 'Kirk', 'Jovovich', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (44, 'Nick', 'Stallone', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (45, 'Reese', 'Kilmer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (46, 'Parker', 'Goldberg', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (47, 'Julia', 'Barrymore', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (48, 'Frances', 'Day-Lewis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (49, 'Anne', 'Cronyn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (50, 'Natalie', 'Hopkins', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (51, 'Gary', 'Phoenix', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (52, 'Carmen', 'Hunt', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (53, 'Mena', 'Temple', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (54, 'Penelope', 'Pinkett', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (55, 'Fay', 'Kilmer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (56, 'Dan', 'Harris', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (57, 'Jude', 'Cruise', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (58, 'Christian', 'Akroyd', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (59, 'Dustin', 'Tautou', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (60, 'Henry', 'Berry', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (61, 'Christian', 'Neeson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (62, 'Jayne', 'Neeson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (63, 'Cameron', 'Wray', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (64, 'Ray', 'Johansson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (65, 'Angela', 'Hudson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (66, 'Mary', 'Tandy', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (67, 'Jessica', 'Bailey', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (68, 'Rip', 'Winslet', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (69, 'Kenneth', 'Paltrow', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (70, 'Michelle', 'Mcconaughey', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (71, 'Adam', 'Grant', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (72, 'Sean', 'Williams', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (73, 'Gary', 'Penn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (74, 'Milla', 'Keitel', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (75, 'Burt', 'Posey', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (76, 'Angelina', 'Astaire', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (77, 'Cary', 'Mcconaughey', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (78, 'Groucho', 'Sinatra', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (79, 'Mae', 'Hoffman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (80, 'Ralph', 'Cruz', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (81, 'Scarlett', 'Damon', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (82, 'Woody', 'Jolie', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (83, 'Ben', 'Willis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (84, 'James', 'Pitt', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (85, 'Minnie', 'Zellweger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (143, 'River', 'Dean', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (86, 'Greg', 'Chaplin', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (87, 'Spencer', 'Peck', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (88, 'Kenneth', 'Pesci', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (89, 'Charlize', 'Dench', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (90, 'Sean', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (91, 'Christopher', 'Berry', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (92, 'Kirsten', 'Akroyd', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (93, 'Ellen', 'Presley', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (94, 'Kenneth', 'Torn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (95, 'Daryl', 'Wahlberg', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (96, 'Gene', 'Willis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (97, 'Meg', 'Hawke', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (98, 'Chris', 'Bridges', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (99, 'Jim', 'Mostel', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (100, 'Spencer', 'Depp', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (101, 'Susan', 'Davis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (102, 'Walter', 'Torn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (103, 'Matthew', 'Leigh', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (104, 'Penelope', 'Cronyn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (105, 'Sidney', 'Crowe', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (106, 'Groucho', 'Dunst', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (107, 'Gina', 'Degeneres', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (108, 'Warren', 'Nolte', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (109, 'Sylvester', 'Dern', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (110, 'Susan', 'Davis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (111, 'Cameron', 'Zellweger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (112, 'Russell', 'Bacall', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (113, 'Morgan', 'Hopkins', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (114, 'Morgan', 'Mcdormand', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (115, 'Harrison', 'Bale', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (116, 'Dan', 'Streep', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (117, 'Renee', 'Tracy', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (118, 'Cuba', 'Allen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (119, 'Warren', 'Jackman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (120, 'Penelope', 'Monroe', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (121, 'Liza', 'Bergman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (122, 'Salma', 'Nolte', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (123, 'Julianne', 'Dench', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (124, 'Scarlett', 'Bening', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (125, 'Albert', 'Nolte', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (126, 'Frances', 'Tomei', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (127, 'Kevin', 'Garland', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (128, 'Cate', 'Mcqueen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (129, 'Daryl', 'Crawford', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (130, 'Greta', 'Keitel', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (131, 'Jane', 'Jackman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (132, 'Adam', 'Hopper', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (133, 'Richard', 'Penn', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (134, 'Gene', 'Hopkins', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (135, 'Rita', 'Reynolds', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (136, 'Ed', 'Mansfield', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (137, 'Morgan', 'Williams', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (138, 'Lucille', 'Dee', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (139, 'Ewan', 'Gooding', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (140, 'Whoopi', 'Hurt', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (141, 'Cate', 'Harris', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (142, 'Jada', 'Ryder', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (144, 'Angela', 'Witherspoon', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (145, 'Kim', 'Allen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (146, 'Albert', 'Johansson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (147, 'Fay', 'Winslet', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (148, 'Emily', 'Dee', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (149, 'Russell', 'Temple', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (150, 'Jayne', 'Nolte', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (151, 'Geoffrey', 'Heston', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (152, 'Ben', 'Harris', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (153, 'Minnie', 'Kilmer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (154, 'Meryl', 'Gibson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (155, 'Ian', 'Tandy', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (156, 'Fay', 'Wood', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (157, 'Greta', 'Malden', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (158, 'Vivien', 'Basinger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (159, 'Laura', 'Brody', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (160, 'Chris', 'Depp', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (161, 'Harvey', 'Hope', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (162, 'Oprah', 'Kilmer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (163, 'Christopher', 'West', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (164, 'Humphrey', 'Willis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (165, 'Al', 'Garland', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (166, 'Nick', 'Degeneres', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (167, 'Laurence', 'Bullock', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (168, 'Will', 'Wilson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (169, 'Kenneth', 'Hoffman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (170, 'Mena', 'Hopper', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (171, 'Olympia', 'Pfeiffer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (172, 'Groucho', 'Williams', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (173, 'Alan', 'Dreyfuss', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (174, 'Michael', 'Bening', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (175, 'William', 'Hackman', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (176, 'Jon', 'Chase', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (177, 'Gene', 'Mckellen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (178, 'Lisa', 'Monroe', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (179, 'Ed', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (180, 'Jeff', 'Silverstone', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (181, 'Matthew', 'Carrey', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (182, 'Debbie', 'Akroyd', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (183, 'Russell', 'Close', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (184, 'Humphrey', 'Garland', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (185, 'Michael', 'Bolger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (186, 'Julia', 'Zellweger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (187, 'Renee', 'Ball', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (188, 'Rock', 'Dukakis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (189, 'Cuba', 'Birch', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (190, 'Audrey', 'Bailey', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (191, 'Gregory', 'Gooding', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (192, 'John', 'Suvari', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (193, 'Burt', 'Temple', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (194, 'Meryl', 'Allen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (195, 'Jayne', 'Silverstone', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (196, 'Bela', 'Walken', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (197, 'Reese', 'West', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (198, 'Mary', 'Keitel', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (199, 'Julia', 'Fawcett', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (200, 'Thora', 'Temple', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))]

In this query, the `from` clause lists a single table (*actor*), and the `select` clause indicates that all columns (designed by \*) in the *actor* table should be included in the result set. Basically the query statement could be described in English as follows:

> *Show me all columns and all rows in the **actor** table*

Also note that each SQL statement has to end with a semi-colon. Otherwise the SQL interpreter will continue to expect additional clauses for input.

You can also explicitly name the columns you are interested in the query, such as:

In [3]:
%%sql

SELECT first_name, last_name FROM actor;

 * postgresql://postgres:***@localhost/dvdrental
200 rows affected.

[('Penelope', 'Guiness'),
 ('Nick', 'Wahlberg'),
 ('Ed', 'Chase'),
 ('Jennifer', 'Davis'),
 ('Johnny', 'Lollobrigida'),
 ('Bette', 'Nicholson'),
 ('Grace', 'Mostel'),
 ('Matthew', 'Johansson'),
 ('Joe', 'Swank'),
 ('Christian', 'Gable'),
 ('Zero', 'Cage'),
 ('Karl', 'Berry'),
 ('Uma', 'Wood'),
 ('Vivien', 'Bergen'),
 ('Cuba', 'Olivier'),
 ('Fred', 'Costner'),
 ('Helen', 'Voight'),
 ('Dan', 'Torn'),
 ('Bob', 'Fawcett'),
 ('Lucille', 'Tracy'),
 ('Kirsten', 'Paltrow'),
 ('Elvis', 'Marx'),
 ('Sandra', 'Kilmer'),
 ('Cameron', 'Streep'),
 ('Kevin', 'Bloom'),
 ('Rip', 'Crawford'),
 ('Julia', 'Mcqueen'),
 ('Woody', 'Hoffman'),
 ('Alec', 'Wayne'),
 ('Sandra', 'Peck'),
 ('Sissy', 'Sobieski'),
 ('Tim', 'Hackman'),
 ('Milla', 'Peck'),
 ('Audrey', 'Olivier'),
 ('Judy', 'Dean'),
 ('Burt', 'Dukakis'),
 ('Val', 'Bolger'),
 ('Tom', 'Mckellen'),
 ('Goldie', 'Brody'),
 ('Johnny', 'Cage'),
 ('Jodie', 'Degeneres'),
 ('Tom', 'Miranda'),
 ('Kirk', 'Jovovich'),
 ('Nick', 'Stallone'),
 ('Reese', 'Kilmer'),
 ('Parker', 'Goldberg'),
 ('Julia', 'Barrymore'),
 ('Frances', 'Day-Lewis'),
 ('Anne', 'Cronyn'),
 ('Natalie', 'Hopkins'),
 ('Gary', 'Phoenix'),
 ('Carmen', 'Hunt'),
 ('Mena', 'Temple'),
 ('Penelope', 'Pinkett'),
 ('Fay', 'Kilmer'),
 ('Dan', 'Harris'),
 ('Jude', 'Cruise'),
 ('Christian', 'Akroyd'),
 ('Dustin', 'Tautou'),
 ('Henry', 'Berry'),
 ('Christian', 'Neeson'),
 ('Jayne', 'Neeson'),
 ('Cameron', 'Wray'),
 ('Ray', 'Johansson'),
 ('Angela', 'Hudson'),
 ('Mary', 'Tandy'),
 ('Jessica', 'Bailey'),
 ('Rip', 'Winslet'),
 ('Kenneth', 'Paltrow'),
 ('Michelle', 'Mcconaughey'),
 ('Adam', 'Grant'),
 ('Sean', 'Williams'),
 ('Gary', 'Penn'),
 ('Milla', 'Keitel'),
 ('Burt', 'Posey'),
 ('Angelina', 'Astaire'),
 ('Cary', 'Mcconaughey'),
 ('Groucho', 'Sinatra'),
 ('Mae', 'Hoffman'),
 ('Ralph', 'Cruz'),
 ('Scarlett', 'Damon'),
 ('Woody', 'Jolie'),
 ('Ben', 'Willis'),
 ('James', 'Pitt'),
 ('Minnie', 'Zellweger'),
 ('River', 'Dean'),
 ('Greg', 'Chaplin'),
 ('Spencer', 'Peck'),
 ('Kenneth', 'Pesci'),
 ('Charlize', 'Dench'),
 ('Sean', 'Guiness'),
 ('Christopher', 'Berry'),
 ('Kirsten', 'Akroyd'),
 ('Ellen', 'Presley'),
 ('Kenneth', 'Torn'),
 ('Daryl', 'Wahlberg'),
 ('Gene', 'Willis'),
 ('Meg', 'Hawke'),
 ('Chris', 'Bridges'),
 ('Jim', 'Mostel'),
 ('Spencer', 'Depp'),
 ('Susan', 'Davis'),
 ('Walter', 'Torn'),
 ('Matthew', 'Leigh'),
 ('Penelope', 'Cronyn'),
 ('Sidney', 'Crowe'),
 ('Groucho', 'Dunst'),
 ('Gina', 'Degeneres'),
 ('Warren', 'Nolte'),
 ('Sylvester', 'Dern'),
 ('Susan', 'Davis'),
 ('Cameron', 'Zellweger'),
 ('Russell', 'Bacall'),
 ('Morgan', 'Hopkins'),
 ('Morgan', 'Mcdormand'),
 ('Harrison', 'Bale'),
 ('Dan', 'Streep'),
 ('Renee', 'Tracy'),
 ('Cuba', 'Allen'),
 ('Warren', 'Jackman'),
 ('Penelope', 'Monroe'),
 ('Liza', 'Bergman'),
 ('Salma', 'Nolte'),
 ('Julianne', 'Dench'),
 ('Scarlett', 'Bening'),
 ('Albert', 'Nolte'),
 ('Frances', 'Tomei'),
 ('Kevin', 'Garland'),
 ('Cate', 'Mcqueen'),
 ('Daryl', 'Crawford'),
 ('Greta', 'Keitel'),
 ('Jane', 'Jackman'),
 ('Adam', 'Hopper'),
 ('Richard', 'Penn'),
 ('Gene', 'Hopkins'),
 ('Rita', 'Reynolds'),
 ('Ed', 'Mansfield'),
 ('Morgan', 'Williams'),
 ('Lucille', 'Dee'),
 ('Ewan', 'Gooding'),
 ('Whoopi', 'Hurt'),
 ('Cate', 'Harris'),
 ('Jada', 'Ryder'),
 ('Angela', 'Witherspoon'),
 ('Kim', 'Allen'),
 ('Albert', 'Johansson'),
 ('Fay', 'Winslet'),
 ('Emily', 'Dee'),
 ('Russell', 'Temple'),
 ('Jayne', 'Nolte'),
 ('Geoffrey', 'Heston'),
 ('Ben', 'Harris'),
 ('Minnie', 'Kilmer'),
 ('Meryl', 'Gibson'),
 ('Ian', 'Tandy'),
 ('Fay', 'Wood'),
 ('Greta', 'Malden'),
 ('Vivien', 'Basinger'),
 ('Laura', 'Brody'),
 ('Chris', 'Depp'),
 ('Harvey', 'Hope'),
 ('Oprah', 'Kilmer'),
 ('Christopher', 'West'),
 ('Humphrey', 'Willis'),
 ('Al', 'Garland'),
 ('Nick', 'Degeneres'),
 ('Laurence', 'Bullock'),
 ('Will', 'Wilson'),
 ('Kenneth', 'Hoffman'),
 ('Mena', 'Hopper'),
 ('Olympia', 'Pfeiffer'),
 ('Groucho', 'Williams'),
 ('Alan', 'Dreyfuss'),
 ('Michael', 'Bening'),
 ('William', 'Hackman'),
 ('Jon', 'Chase'),
 ('Gene', 'Mckellen'),
 ('Lisa', 'Monroe'),
 ('Ed', 'Guiness'),
 ('Jeff', 'Silverstone'),
 ('Matthew', 'Carrey'),
 ('Debbie', 'Akroyd'),
 ('Russell', 'Close'),
 ('Humphrey', 'Garland'),
 ('Michael', 'Bolger'),
 ('Julia', 'Zellweger'),
 ('Renee', 'Ball'),
 ('Rock', 'Dukakis'),
 ('Cuba', 'Birch'),
 ('Audrey', 'Bailey'),
 ('Gregory', 'Gooding'),
 ('John', 'Suvari'),
 ('Burt', 'Temple'),
 ('Meryl', 'Allen'),
 ('Jayne', 'Silverstone'),
 ('Bela', 'Walken'),
 ('Reese', 'West'),
 ('Mary', 'Keitel'),
 ('Julia', 'Fawcett'),
 ('Thora', 'Temple')]

   Thus the `select` clause determines which of all possible columns should be included in the query's result set. 
   Also, it is not a good practice to use the asterisk (*) in the `select` statement when you use the embedded SQL statements in the code due to the following reasons:

+ For a large table with many columns, the `select` statement with an asterisk (*) shorthand will retrieve data from all columns of the table, which may not be necessary.
+ In addition, retrieving unnecessary data from the database increases the traffic between the database and application layers. As a result, your applications will be slow and less scalable. Therefore, it is a good practice to specify the column names explicitly in the `select` clause whenever possible to get only necessary data from a table.

Because of these reasons, you should only use the asterisk (\*) shorthand for the ad-hoc queries to examine the data. In cases when you need to select all columns to get a preview of the data, you can use the `limit` clause to limit the rows in the result set to a specific number:

In [4]:
%%sql 

SELECT * FROM actor LIMIT 10;

 * postgresql://postgres:***@localhost/dvdrental
10 rows affected.

[(1, 'Penelope', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (2, 'Nick', 'Wahlberg', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (3, 'Ed', 'Chase', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (4, 'Jennifer', 'Davis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (5, 'Johnny', 'Lollobrigida', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (6, 'Bette', 'Nicholson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (7, 'Grace', 'Mostel', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (8, 'Matthew', 'Johansson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (9, 'Joe', 'Swank', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (10, 'Christian', 'Gable', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))]

***Note:*** *Not all database systems support `limit` clause; MySQL also supports the `limit` clause.*

The usage of `select` clause is not just limited to columns. You can also use expressions like below:

In [5]:
%%sql 

SELECT actor_id, 
actor_id * 3.14159, 
UPPER(last_name) 
FROM actor LIMIT 10;

 * postgresql://postgres:***@localhost/dvdrental
10 rows affected.

[(1, Decimal('3.14159'), 'GUINESS'),
 (2, Decimal('6.28318'), 'WAHLBERG'),
 (3, Decimal('9.42477'), 'CHASE'),
 (4, Decimal('12.56636'), 'DAVIS'),
 (5, Decimal('15.70795'), 'LOLLOBRIGIDA'),
 (6, Decimal('18.84954'), 'NICHOLSON'),
 (7, Decimal('21.99113'), 'MOSTEL'),
 (8, Decimal('25.13272'), 'JOHANSSON'),
 (9, Decimal('28.27431'), 'SWANK'),
 (10, Decimal('31.41590'), 'GABLE')]

For certain built-in function or to evaluate a simple expression, you can skip the `from` clause entirely. For example:

In [6]:
%%sql

SELECT version();

 * postgresql://postgres:***@localhost/dvdrental
1 rows affected.

[('PostgreSQL 12.3 (Ubuntu 12.3-1.pgdg20.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 9.3.0-10ubuntu2) 9.3.0, 64-bit',)]

### Column Aliases

Though SQL query will generate labels for the columns returned, you might still want to assign a new label to a column from a table. In cases where the result set are generated by expressions or built-in function calls, you would almost certainly want to assign your own labels to those columns. You can use the `as` keyword before the alias name like in the example below:

In [7]:
%%sql

SELECT actor_id, 
actor_id * 3.14159 AS actor_id_x_pi, 
UPPER(last_name) AS last_name_upper
FROM actor LIMIT 10;

 * postgresql://postgres:***@localhost/dvdrental
10 rows affected.

[(1, Decimal('3.14159'), 'GUINESS'),
 (2, Decimal('6.28318'), 'WAHLBERG'),
 (3, Decimal('9.42477'), 'CHASE'),
 (4, Decimal('12.56636'), 'DAVIS'),
 (5, Decimal('15.70795'), 'LOLLOBRIGIDA'),
 (6, Decimal('18.84954'), 'NICHOLSON'),
 (7, Decimal('21.99113'), 'MOSTEL'),
 (8, Decimal('25.13272'), 'JOHANSSON'),
 (9, Decimal('28.27431'), 'SWANK'),
 (10, Decimal('31.41590'), 'GABLE')]

### Removing Duplicates

In some cases, a query might return duplicate rows of data. For example, when retrieving the IDs of customers from payment table like below:

In [8]:
%%sql

SELECT customer_id FROM payment LIMIT 100;

 * postgresql://postgres:***@localhost/dvdrental
100 rows affected.

[(341,),
 (341,),
 (341,),
 (341,),
 (341,),
 (341,),
 (342,),
 (342,),
 (342,),
 (343,),
 (343,),
 (343,),
 (343,),
 (343,),
 (343,),
 (343,),
 (344,),
 (344,),
 (344,),
 (345,),
 (345,),
 (345,),
 (345,),
 (346,),
 (346,),
 (346,),
 (347,),
 (347,),
 (347,),
 (347,),
 (347,),
 (348,),
 (348,),
 (348,),
 (349,),
 (349,),
 (349,),
 (349,),
 (350,),
 (350,),
 (350,),
 (350,),
 (351,),
 (351,),
 (351,),
 (352,),
 (352,),
 (352,),
 (352,),
 (352,),
 (353,),
 (353,),
 (353,),
 (354,),
 (354,),
 (354,),
 (354,),
 (355,),
 (355,),
 (356,),
 (356,),
 (356,),
 (357,),
 (357,),
 (357,),
 (357,),
 (358,),
 (358,),
 (358,),
 (358,),
 (358,),
 (358,),
 (359,),
 (359,),
 (359,),
 (359,),
 (360,),
 (360,),
 (360,),
 (360,),
 (361,),
 (361,),
 (361,),
 (361,),
 (362,),
 (362,),
 (362,),
 (362,),
 (362,),
 (363,),
 (363,),
 (363,),
 (363,),
 (363,),
 (364,),
 (364,),
 (364,),
 (364,),
 (364,),
 (365,)]

As some customers have more than one payment transaction, you will see the same customer id. You would probably want in this case a distinct set of customers that have payment transactions

In [9]:
%%sql

SELECT DISTINCT customer_id FROM payment;

 * postgresql://postgres:***@localhost/dvdrental
599 rows affected.

[(184,),
 (87,),
 (477,),
 (273,),
 (550,),
 (51,),
 (394,),
 (272,),
 (70,),
 (190,),
 (350,),
 (539,),
 (554,),
 (278,),
 (424,),
 (406,),
 (176,),
 (576,),
 (309,),
 (292,),
 (509,),
 (271,),
 (22,),
 (156,),
 (417,),
 (556,),
 (475,),
 (529,),
 (282,),
 (173,),
 (390,),
 (269,),
 (261,),
 (502,),
 (42,),
 (189,),
 (161,),
 (117,),
 (257,),
 (125,),
 (113,),
 (40,),
 (43,),
 (587,),
 (120,),
 (578,),
 (440,),
 (187,),
 (349,),
 (57,),
 (19,),
 (160,),
 (506,),
 (508,),
 (242,),
 (357,),
 (331,),
 (599,),
 (266,),
 (315,),
 (307,),
 (366,),
 (91,),
 (305,),
 (54,),
 (29,),
 (4,),
 (181,),
 (96,),
 (466,),
 (201,),
 (10,),
 (35,),
 (107,),
 (6,),
 (446,),
 (220,),
 (86,),
 (400,),
 (219,),
 (241,),
 (175,),
 (363,),
 (596,),
 (285,),
 (50,),
 (231,),
 (66,),
 (340,),
 (512,),
 (523,),
 (356,),
 (13,),
 (391,),
 (487,),
 (458,),
 (414,),
 (2,),
 (368,),
 (246,),
 (75,),
 (128,),
 (166,),
 (538,),
 (344,),
 (595,),
 (142,),
 (152,),
 (534,),
 (410,),
 (428,),
 (355,),
 (222,),
 (381,),
 (38,),
 (359,),
 (597,),
 (193,),
 (164,),
 (548,),
 (217,),
 (453,),
 (186,),
 (47,),
 (501,),
 (177,),
 (182,),
 (545,),
 (18,),
 (528,),
 (110,),
 (145,),
 (27,),
 (143,),
 (563,),
 (557,),
 (496,),
 (58,),
 (228,),
 (485,),
 (294,),
 (229,),
 (481,),
 (559,),
 (304,),
 (52,),
 (438,),
 (382,),
 (258,),
 (378,),
 (341,),
 (483,),
 (450,),
 (405,),
 (84,),
 (170,),
 (192,),
 (276,),
 (513,),
 (101,),
 (473,),
 (69,),
 (379,),
 (320,),
 (115,),
 (375,),
 (97,),
 (415,),
 (108,),
 (408,),
 (59,),
 (589,),
 (127,),
 (555,),
 (522,),
 (329,),
 (567,),
 (44,),
 (11,),
 (575,),
 (401,),
 (153,),
 (279,),
 (507,),
 (214,),
 (9,),
 (419,),
 (543,),
 (565,),
 (566,),
 (551,),
 (532,),
 (85,),
 (457,),
 (592,),
 (281,),
 (95,),
 (259,),
 (553,),
 (519,),
 (302,),
 (172,),
 (409,),
 (30,),
 (288,),
 (21,),
 (521,),
 (3,),
 (324,),
 (249,),
 (398,),
 (255,),
 (388,),
 (165,),
 (56,),
 (151,),
 (296,),
 (209,),
 (74,),
 (138,),
 (34,),
 (418,),
 (245,),
 (205,),
 (67,),
 (407,),
 (325,),
 (90,),
 (443,),
 (387,),
 (484,),
 (334,),
 (144,),
 (558,),
 (540,),
 (39,),
 (168,),
 (598,),
 (471,),
 (526,),
 (393,),
 (287,),
 (524,),
 (464,),
 (312,),
 (167,),
 (498,),
 (277,),
 (290,),
 (494,),
 (469,),
 (300,),
 (118,),
 (317,),
 (284,),
 (342,),
 (488,),
 (126,),
 (194,),
 (360,),
 (463,),
 (99,),
 (476,),
 (367,),
 (374,),
 (588,),
 (41,),
 (46,),
 (206,),
 (439,),
 (224,),
 (586,),
 (53,),
 (32,),
 (572,),
 (336,),
 (318,),
 (275,),
 (247,),
 (260,),
 (423,),
 (136,),
 (139,),
 (442,),
 (354,),
 (12,),
 (593,),
 (479,),
 (293,),
 (411,),
 (425,),
 (495,),
 (154,),
 (234,),
 (316,),
 (474,),
 (403,),
 (256,),
 (332,),
 (33,),
 (422,),
 (549,),
 (264,),
 (185,),
 (215,),
 (380,),
 (130,),
 (270,),
 (23,),
 (486,),
 (435,),
 (384,),
 (351,),
 (116,),
 (552,),
 (314,),
 (386,),
 (431,),
 (426,),
 (433,),
 (364,),
 (491,),
 (462,),
 (299,),
 (169,),
 (92,),
 (345,),
 (541,),
 (436,),
 (180,),
 (437,),
 (236,),
 (263,),
 (197,),
 (135,),
 (493,),
 (470,),
 (454,),
 (482,),
 (227,),
 (500,),
 (149,),
 (478,),
 (311,),
 (73,),
 (577,),
 (103,),
 (505,),
 (280,),
 (239,),
 (121,),
 (88,),
 (420,),
 (188,),
 (461,),
 (240,),
 (561,),
 (328,),
 (525,),
 (196,),
 (291,),
 (15,),
 (226,),
 (210,),
 (48,),
 (447,),
 (298,),
 (61,),
 (81,),
 (244,),
 (468,),
 (251,),
 (204,),
 (104,),
 (5,),
 (171,),
 (456,),
 (397,),
 (531,),
 (427,),
 (283,),
 (347,),
 (179,),
 (546,),
 (562,),
 (297,),
 (321,),
 (361,),
 (303,),
 (105,),
 (402,),
 (472,),
 (444,),
 (445,),
 (233,),
 (537,),
 (93,),
 (89,),
 (373,),
 (252,),
 (31,),
 (343,),
 (467,),
 (327,),
 (253,),
 (14,),
 (581,),
 (109,),
 (497,),
 (155,),
 (133,),
 (416,),
 (195,),
 (199,),
 (372,),
 (369,),
 (441,),
 (339,),
 (243,),
 (335,),
 (591,),
 (383,),
 (230,),
 (301,),
 (7,),
 (254,),
 (503,),
 (377,),
 (78,),
 (573,),
 (159,),
 (250,),
 (432,),
 (20,),
 (319,),
 (1,),
 (76,),
 (106,),
 (517,),
 (178,),
 (129,),
 (203,),
 (8,),
 (585,),
 (455,),
 (346,),
 (71,),
 (370,),
 (267,),
 (68,),
 (448,),
 (146,),
 (80,),
 (396,),
 (162,),
 (511,),
 (132,),
 (514,),
 (322,),
 (582,),
 (389,),
 (330,),
 (237,),
 (262,),
 (451,),
 (323,),
 (337,),
 (348,),
 (114,),
 (60,),
 (504,),
 (238,),
 (399,),
 (112,),
 (560,),
 (547,),
 (289,),
 (268,),
 (518,),
 (65,),
 (583,),
 (569,),
 (124,),
 (452,),
 (98,),
 (200,),
 (527,),
 (490,),
 (235,),
 (590,),
 (82,),
 (119,),
 (306,),
 (286,),
 (376,),
 (147,),
 (480,),
 (338,),
 (202,),
 (358,),
 (412,),
 (79,),
 (26,),
 (564,),
 (72,),
 (535,),
 (579,),
 (510,),
 (232,),
 (77,),
 (131,),
 (198,),
 (17,),
 (310,),
 (212,),
 (37,),
 (28,),
 (404,),
 (584,),
 (353,),
 (489,),
 (515,),
 (574,),
 (225,),
 (83,),
 (333,),
 (63,),
 (571,),
 (516,),
 (216,),
 (174,),
 (45,),
 (542,),
 (395,),
 (295,),
 (213,),
 (134,),
 (274,),
 (163,),
 (223,),
 (352,),
 (36,),
 (221,),
 (362,),
 (102,),
 (430,),
 (158,),
 (594,),
 (460,),
 (533,),
 (499,),
 (265,),
 (111,),
 (459,),
 (16,),
 (207,),
 (62,),
 (123,),
 (326,),
 (568,),
 (385,),
 (371,),
 (492,),
 (544,),
 (365,),
 (157,),
 (413,),
 (308,),
 (183,),
 (100,),
 (313,),
 (150,),
 (140,),
 (248,),
 (137,),
 (421,),
 (208,),
 (24,),
 (392,),
 (191,),
 (429,),
 (25,),
 (141,),
 (122,),
 (94,),
 (218,),
 (570,),
 (49,),
 (434,),
 (211,),
 (580,),
 (530,),
 (536,),
 (465,),
 (449,),
 (64,),
 (520,),
 (55,),
 (148,)]